version: '3.8'
services:
  mongo:
    image: mongo:7
    container_name: twitter-mongo
    restart: always
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db
  app:
    build: .
    container_name: twitter-app
    depends_on:
      - mongo
    environment:
      - SPRING_DATA_MONGODB_URI=mongodb://mongo:27017/twitter
    ports:
      - "8080:8080"
volumes:
  mongo_data:
